@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #d1e0e0 !important;
  position: relative;
  height: 100%;
}

/*==========Nav Bar============*/
/* Add a black background color to the top navigation */
.topnav {
  position: relative;
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: large;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
  text-decoration: none;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #6495ED;
  color: white;
}

/* ===========cirlce images================*/
.images-box {
  position: absolute;
  overflow: hidden;
  width: 100%;
}

#circle-images img {
  border: 5px solid #555;
  margin-top: 15x;
  margin-bottom: auto;
  border-radius: 50%;
  /*center images*/
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.row {
  display: flex;
}

.column {
  flex: 33.33%;
  padding: 5px;
}

.text-center {
  padding: auto;
}

/* footer */
.footer-container {
  position: relative;
}

footer {
  position: relative;
  top:
    bottom: 0px;
  background: #333;
  height: auto;
  width: 100%;
  font-family: "Open Sans";
  padding-top: 10px;
  color: #fff;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.footer-content h3 {
  font-size: 20px;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 30px;
  margin: auto;
}

.socials {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0 30px 0;
}

.socials li {
  margin: 0 20px;
}

.socials a {
  text-decoration: none;
  color: #fff;
}

.socials a i {
  font-size: 25px;
  transition: color .4s ease;
}

.socials a:hover i {
  color: #6495ED;
}

.footer-bottom {
  background: #000;
  width: 100vw;
  padding: 10px 0;
  text-align: center;
}

.footer-bottom p {
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}

.footer-bottom span {
  text-transform: uppercase;
  opacity: .4;
  font-weight: 200;
}

/* deviders */
.wrapper {
  position: relative;
  padding-bottom: 20px;
}

.divider {
  position: relative;
  margin-top: 30px;
  height: 1px;
}

.div-transparent:before {
  content: "";
  position: absolute;
  top: 0;
  left: 5%;
  right: 5%;
  width: 90%;
  height: 1px;
  background-image: linear-gradient(to right, transparent, rgb(48, 49, 51), transparent);
}

/* css for images on history page and instruments page */
.left-container {
  /* margin: auto; */
  /* width: 50%; */
  /* background-color: green; */
  display: block;
  text-align: center;
}

.left-container-image {
  /* display: inline-block; */
  vertical-align: top;
  width: 50%;
  max-width: 500px;
  max-height: 500px;
  margin-left: 50px;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-right: 20px;
  left: 50%;
}

.left-container-text {
  display: inline-block;
  /* background-color: white; */
  width: 30%;

}

.right-container {
  /* margin: auto; */
  /* width: 50%; */
  /* background-color: pink; */
  display: block;
  text-align: center;
}

.right-container-image {
  /* display: inline-block; */
  vertical-align: top;
  width: 50%;
  max-width: 500px;
  max-height: 500px;
  margin-right: 50px;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: 20px;
  right: 50%;
}

.right-container-text {
  display: inline-block;
  /* background-color: white; */
  width: 30%;

}
